<!DOCTYPE html>
<html>

<head>
    <title>Predict home values in Ames, Iowa</title>
</head>

<body>
    <h1>Enter characteristics of your property in Ames, Iowa</h1>
    <form method='POST' enctype="multipart/form-data">
        <p>
            <label for="OverallQual">Overall House Quality</label><br>
            <input type="number" name="OverallQual">
        </p>
        <p>
            <label for="FullBath">Number of Full Bathrooms</label><br>
            <input type="number" name="FullBath">
        </p>
        <p>
            <label for="GarageArea">Garage Area</label><br>
            <input type="number" name="GarageArea">
        </p>
        <p>
            <label for="LotArea">Lot Area</label><br>
            <input type="number" name="LotArea">
        </p>
        <p><button type="submit" value="Submit">Submit</button></p>
    </form>
</body>

</html>